* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "MyFonts";
  src: url("PlayfairDisplay-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif, 'Roboto';
  line-height: 1.6;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
}


header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 2em 0;
  text-decoration: underline overline; 
  font-family: "MyFonts", Georgia, 'Times New Roman', Times, serif; 
}

#header-container {
  text-align: center;
  background-color: #ececec;
  padding: 20px;
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;
}


.content-section {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.content-section:hover {
  transform: scale(1.02); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /
}

header h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

header p {
  font-size: 1.2em;
}

main {
  width: 80%;
  margin: 0 auto;
  padding: 2em 0;
}


section {
  margin-bottom: 2em;
  padding: 1em;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
section:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); 
}

p::first-letter {
  color:rgba(165, 42, 42, 0.975);
  font-size: xx-large;
}

section h2 {
  font-size: 2em;
  color: brown;
  margin-bottom: 0.5em;
  text-decoration: underline; 
}

section p {
  font-size: 1em;
  color: #555;
  margin-bottom: 1em;
  line-height: 1.8; 
  
}

section img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 0.9em;
  color: #666;
  background-color: #ececec;
  border-top: 2px solid #ccc;
}